// Custom styles.
/ 颜色块-蓝
.inline-label {
display:inline;
padding:.2em .6em .3em;
font-size:80%;
font-weight:bold;
line-height:1;
color:#E74C3C;
text-align:center;
white-space:nowrap;
vertical-align:baseline;
border-radius:0;
background-color: #fff;
}